@import "./editor.css";
@import "./file_tree.css";
@import "./sidebar.css";

:root {
  --text: #6b6375;
  --text-h: #08060d;
  --background: #fff;
  --border: #e5e4e7;
  --code-bg: #f4f3ec;
  --accent: #aa3bff;
  --accent-bg: rgba(170, 59, 255, 0.1);
  --accent-border: rgba(170, 59, 255, 0.5);
  --social-bg: rgba(244, 243, 236, 0.5);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;
  --heading: system-ui, "Segoe UI", Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--background);
  font-family: Inter;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #25262f;
    --current: #6272a4;
    --selection: #2d2e39;
    --text: #f8f8f2;
    --text-secondary: #a0a0a0;
    --comment: #6272a4;
    --red: #ff5555;
    --orange: #ffb86c;
    --yellow: #f1fa8c;
    --green: #50fa7b;
    --cyan: #8be9fd;
    --purple: #bd93f9;
    --pink: #ff79c6;
    --grey: #34343d;
  }

  #social .button-icon {
    filter: invert(1) brightness(2);
  }
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

p {
  margin: 0;
}

ul {
  margin: 0;
}

h1,
h2,
h3 {
  margin: 0;
  padding-block: 1rem;
}

li {
  margin: 0.5rem 0;
}

input {
  padding: 0;
  font-family: Inter;
}
button {
  font-family: Inter;
  cursor: pointer;
  border: none;
}

/* App Layout */

#app {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.sidebar-toggle {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

#app-mobile {
  display: none;
}

.icon-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 0.2rem;
}

.icon-btn:hover {
  background-color: var(--grey);
  border-radius: 4px;
}

.text-btn {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--green);
  color: var(--background);
  border-radius: 5px;
  font-weight: 500;
}

.text-btn.secondary {
  background-color: var(--background);
  color: var(--green);
}

/* Vault */

#vault {
  display: flex;
  align-items: center;
  flex: 1;
}

/* Icons */

.material-symbols-outlined {
  font-variation-settings:
    "FILL" 0,
    "wght" 400,
    "GRAD" 0,
    "opsz" 24;
}

.toolbar-icon,
.filebar-icon,
.vault-icon,
.caret {
  color: var(--text-secondary);
}
